<html>
    <head>
        <title>LUNCHIN'</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style type="text/css">
            body{
                background-image:url("https://data.whicdn.com/images/74576880/superthumb.jpg?t=1377496888");
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    
       <script type="text/javascript">
       
       var l =new Array()
       var ids=new Array()
       
       function loadthis(){
           if(sessionStorage.length){
               
           var clicked=sessionStorage.getItem("clicked")
           if(clicked){
               ids =sessionStorage.getItem("id")
               var newid=ids.split(',')
              
               for(var i=0;i<newid.length;i++){

                   loadchg(newid[i])
           }
           }
           }
       }
        
    function change(a){
       b=a;
       if(sessionStorage.length){
       var tmp=sessionStorage.getItem("id")
       l=tmp.split(',')
       }
       l.push(b);
       alert(l)
       a=document.getElementById(a)
      
       a.innerHTML="Prepared"
    
       sessionStorage.setItem('id', l);
       sessionStorage.setItem('clicked', 'true')

        
    }
    function loadchg(a){
       b=a;
       a=document.getElementById(a)
      
      
       a.innerHTML="Prepared"
   
    }
    function callme(){
        sessionStorage.clear();
    }
       </script>
    </head>
    <body onload="loadthis()">
   
<br/><br/><br/><br/>
    
  
    
         <div class="container">
     
     
     
     <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1> My Orders </h1>
        
        <% orders.forEach(function(orders){%>
        <div class="panel panel-default">
            <div class="panel-body">
                
                
                 <ul class="list-group">
                     <% orders.items.forEach(function(orderitem){%>
                  <li class="list-group-item"><%= orderitem.item.name %> | <%= orderitem.qty %>
                   <span class="badge"><%= orderitem.price %> </span></li> 
                  
                   <% }) %>
                </ul>
                
              <div class="panel-footer">
                <ul class="list-group">
                  <li class="list-group-item"><%= orders.cart.totalPrice %> 
                   <button class="badge" id="<%=orders._id %>" type="button" onclick="change(this.id)" ><%= orders.ostatus %> </button></li> 
                </ul>
              </div>
              </div>
            </div>
            <% }) %>
            
            <a href="/changestatus" role="button"  class="badge">Submit</a>
            
    
            
         </div>
        
                          
                  
    </div>
</div>
      
     
</body>
</html>