<html>
    <head>
        <title>LUNCHIN'</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <style type="text/css">
            body {
  
  background-image: url("https://userscontent2.emaze.com/images/81191429-0927-47ee-b09f-328c2e357da1/62ead03d2a9a1fdafa7be768efd3a411.jpg");
  background-repeat:no-repeat;
  background-position: center;
 
  background-size: cover;
  

  /* Center and scale the image nicely */
 
 
 
}
        </style> 
    </head>
     <body>
         <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">LUNCHIN'!</a>
          </div>
           <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                   <li id="logout"> <a href="/logoutdeliver">Logout</a></li>
                  
                  
               </ul>
               
           </div>
      </div>
    
</nav>
<br/><br/><br/><br/>

<div class="container">
    <br/><br/><br/>

<% if(orders.length){ %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Orders to be delivered</h1>
        <% orders.forEach(function(orders){%>
        <div class="panel panel-default">
            <div class="panel-body">
                
                <ul class="list-group">
                  <li class="list-group-item"><%= orders.address %> 
                   <span class="badge"><%= orders.un %> </span></li> 
                  
                </ul>
                
                 <ul class="list-group">
                     <% orders.items.forEach(function(orderitem){%>
                  <li class="list-group-item"><%= orderitem.item.name %> | <%= orderitem.qty %>
                   <span class="badge"><%= orderitem.price %> </span></li> 
                  
                   <% }) %>
                </ul>
                
              <div class="panel-footer">
                <ul class="list-group">
                  <li class="list-group-item"><%= orders.cart.totalPrice %> 
                   <span class="badge"><%= orders.ostatus %> </span></li> 
                  
                </ul>
                
                
              </div>
              </div>
            </div>
            <% }) %>
    
            <a href="/navi" role="button">Navigate to destination</a>
         </div>
        
               <form action="/navicomplete" method="post">
            <input height="30px" width="50px" type="submit" value="All orders delivered"/>
        </form>          
                  
    </div>
</div>
<% } else { %>
  <h1>NO NEW ORDERS</h1>
<% } %>
</div> 


<% include ./partials/footer %>